
@import 'mixin';
@import 'layout';
@import 'util';

html,
body{
    height: $fullHeight;
};

body{
   @include cover-background('../img/content-background.jpg');
};

.body-bg-overlay{
    width: $fullWidth;
    height: $fullHeight;
    background: rgba(black,0.5);
}

.abstract-container{
    width: 90%;
    
    .box{
        height:250px;
        width: 250px;
        background:#fff;
        div{
            text-align: center;
            text-transform: uppercase;
            i{
                font-size: 48px;
            }
            p{
                font-size: 20px;
                margin-top: 15px;
            }
        }
    }
    .long-box{
            width: calc(#{$fullWidth} - 520px);
            height: $fullHeight;
            background:#fff;
    }

    .header{
        height: 250px;
        margin-bottom: 5px;

        .profile-image{
            @include cover-background('../img/sara.jpg');
            margin-right: 5px;
        }
        .designation{
            box-sizing: border-box;
            background:#fff; 
            margin:0 5px;
            padding:20px;

            .name{
                width: calc(100% - 300px);
                height: 100%;

                div{
                    padding-left: 15px;
                    line-height: 50px;
                    h2{
                        font-size: 50px;
                    }
                    p{
                        color:blue;
                        font-size: 30px;
                    }
                }
            }
            .sociallinks{
                height: 100%;
                width: 300px;

                .downloadresume{
                    width: $fullWidth;
                    height: 60px;
                    padding: 0px 30px;
                    line-height: 60px;
                    box-sizing: border-box;
                    border:solid 1px #dcdcdc;
                    font-size: 25px;
                    text-align: center;

                    a{
                        float: left;
                    }
                    
                }

                .links{
                    width: $fullWidth;
                    height: 50px;
                    margin-top: 10px;

                    .link{
                        width:50px;
                        height: inherit;
                        border: solid 1px #eed;
                        font-size: 20px;
                        line-height: 50px;
                        text-align: center;
                        margin-right:30px;

                        &:last-child{
                            margin:0px !important;
                        }
                    }

                }

            }

        }
        .blog{
            margin-left: 5px;
        }     
    }

    .content{
        margin-top: 10px;
        height: 510px;

        .aboutme{
            margin: 0 5px 10px 0px
        }
        .resume{
            margin: 5px 5px 0 0;
        }
        .mywork{
            margin: 0 0 10px 5px;
        }
        .contactme{
            margin: 5px 0 0 5px;
        }
        .showcase{
            margin: 0 5px;
        }
    }
}